@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:ital,wght@0,300;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;

}
html{
  font-size: 10px;
  font-family: 'poppins';
}
*{
  text-decoration: none;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero{
  background-size: cover;
  background-position: top center;
  position: relatives;
  background-color: rgba(28, 26, 25, 1);
  z-index: 1;
}
#hero::after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  z-index: -1;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: rgba(245, 88, 0, 1);
}

#hero h2{
  display: block;
  width: 566px;
  height: 24px;
  position: relative;
  font-size: 2rem;
  color:rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  
}
#hero p{
  display: contents;
  font-size: 1rem ;
  line-height: 10px;
  color: rgba(244, 245, 247, 1);
  

  
}
@media (min-width: 900px) {
  #hero {
    width: 600px;
  }
}
